<% include ../partials/header %>


<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand-picked campgrounds</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new Campgounds</a>
            </p>
        </div>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(camp) { %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= camp.img %>">
            <div class="caption">
                <h4><%= camp.name %></h3>
            </div>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/<%= camp._id %>">More Info</a>
            </p>
        </div>
        
    </div>
    <% }); %>

</div>
</div>




<a href="/">Back to Home</a>

<% include ../partials/footer %>